<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <title>Projeto 1 - Clientes</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>Depoimentos de Clientes</h2>

    <p>Cliente Maria: - <td><img width="100px" src="/static/maria.jpg" </p> 
    <p>Cliente José: - <td><img width="100px" src="/static/jose.jpg" </p>
    <p>Cliente João: - <td><img width="100px" src="/static/joao.jpg" </p>
    <p>Cliente Ana: - <td><img width="100px" src="/static/ana.jpg" </p>

    <br>
    <p><a href="/">voltar para loja</a><p>

  </body>
</html>